a {
    border: none; 
    color: black;
    font-family: 'Great Vibes', cursive;
    font-size: 1.5vw;
}

a:hover {
    color: white;
}

header {
    text-align: center;
    font-family: 'Great Vibes', cursive;
}

h1 {
    color: black;
}

body {
    background-color: lightgrey;
    font-family: 'Tangerine', cursive;
    width: 50%;
    height: 700px;
    margin: auto;
    
}

#last {
    margin: 0% 0% 0% 33%;
    width: fit-content;
}

#container {
    width: 40%; 
    margin: auto;
    padding: 1% 2% 1% 2%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

#homepage {
    margin: 0% 0% 0% 43%;
    width: auto;
}

#homepage a {
        color: black;
        font-size: 1.5vw;
        text-decoration: none;
        border: 4px solid black;
        padding: 1%;
}

#homepage a:hover {
    color: white;
}